rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // ⚠️ DEV MODE: Allow read AND write to everyone
      // We will lock 'write' back down once we build the Login Screen
      allow read, write: if true;
    }
  }
}